<mat-toolbar color="primary">
  <mat-icon>cloud</mat-icon>
  <span class="app-title">Fake API Data</span>
</mat-toolbar>

<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Fake API Data</mat-card-title>
      <mat-card-subtitle>Angular Material Example</mat-card-subtitle>
    </mat-card-header>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element[column] }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>

    <button mat-fab color="primary" class="reload-button" (click)="reloadData()" aria-label="Reload Data">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card>
</div>
